<div class="accordion" id="accordion">
  <div class="card" *ngFor="let job of getJobs(); let isFirst = first">
    <div class="card-header" id="job-{{job['id']}}">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-12">
          <div class="row">
            <div class="col-12">
              {{month[job.date_from.getMonth()]}} {{job.date_from.getFullYear()}} - {{month[job.date_to.getMonth()]}} {{job.date_to.getFullYear()}}
            </div>
            <div class="col-12 font-italic">
              {{job.diff_date}}
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-12 align-self-center">
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 text-lg-right">
              <button class="btn btn-link p-0" type="button" data-toggle="collapse" [attr.data-target]="'#job-collapse-' + job['id']" aria-expanded="true" aria-controls="collapseOne">
                {{job.job}}
              </button>
            </div>
            <div class="col-xl-8 col-lg-6 col-12">
              <span class="text-secondary">
                {{job.position}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="job-collapse-{{job['id']}}" class="collapse" [class.show]="isFirst" [attr.aria-labelledby]="'job-' + job['id']" data-parent="#accordion">
      <div class="card-body">
        <p>
          {{job.city}} <!--noindex--><a href="{{job.email}}" rel="nofollow" target="_blank" ngif="job.email">{{job.email}}</a><!--/noindex-->
        </p>
        <p>
          {{job.description}}
        </p>
      </div>
    </div>
  </div>

</div>